################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Digitalizacion/AppPackages
/Digitalizacion/obj
/Digitalizacion/bin/x86/Debug
/Digitalizacion/Backup
/Digitalizacion/BundleArtifacts
/.vs
